.container {
    height: calc(88vh - 109px);
    display: flex;
}

.div-esquerdo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0dce7;
}

.div-direito {
    background-image: url('/pages/img/university.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
}

.divLoginLabel {
    display: flex;
    background-color: #d0dce7;
    align-items: center;
    justify-content: center;
}

.divLoginLabel h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    color: #9F7944;
}

.divLoginLabel img {
    width: 150px;
}

#btnLogin {
    width: 250px;
    height: 30px;
    border: 0 ;
    border-radius: 50px;
    background-color: #b4884a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}

.answer {
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.answer input {
    border-radius: 10px;
    height: 40px;
    width: 300px;
}

.answer label {
        font-family:'Cormorant Garamond', serif;
        font-size: 28px;
        font-weight: 600;
}

@media screen and (max-width:430px) {
    .div-direito {
        display: none;
        width: 100%;
    }

    
.div-esquerdo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0dce7;
}

.container {
    margin: 0;
    padding: 0;
}
}