.restrito-div{
    background-image: url('./pages/img/museum.jpg')
}

.restritoTexto{
    background-color: #9f794483;
   text-align: center;
}

.restritoTexto h1{
    font-family: 'Cinzel', serif;
    font-size: 60px;
    color: #000000;
    width: 100%;
    text-align: center;
}

.restritoTexto h3{
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: #000000;
    width: 100%;
    text-align: center;
}

.restritoResto a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-family: 'Cormorant Garamond', serif;
    background-color: #9F7944;
    width: 90%;
    border-radius: 50px;
}

.retorne{
   
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}


.restritoResto table{
    background-color: #e9f4ff91;
    /* margin-left: 25%; */
}

@media screen and (max-width: 430) {
    #myTable {
        width: 90%;
    }

    tbody {
        width: 90% !important;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    table td {
        display: flex !important;
        flex-direction: column !important;
        gap: 100px !important;
        width: 20% !important;
    }

    .restritoTexto h1{
        margin-left: 0 !important;
    }
    
    .restritoTexto h3{
        margin-left: 0 !important;
    }

}